/* andrew sim */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    /*background-color: #ffffff;*/
    color: #989898;
}

h1 {  /* checked */
    font-size: 30px; 
    font-weight: bold;
}

h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }

h1, h2, h3, h4, h5 {
    color: #4f4f4f;
}

#colmarText {
    color: #01161e;
}

#colmarText span {
    color: #9f9b9b;
}

.navbar {
    display: flex;
    /*width: 100%;*/
    height: 64px;
    background-color: #ffffff;
}

.navbarLogo {
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 24px;
}

.navbarLinks {
    display: flex;
    width: 100%; /* need this to work with flex-end */
    align-items: center;
    justify-content: flex-end;
    margin-right: 24px;
}

.navbarIcons {
    display: none;
    align-items: center;
    align-content: center;
}

.navbar a {
    text-decoration: none; /* remove underscore in <a></a> */
}

.navbarLinks a {
    /*background-color: #000000;*/
    margin-left: 16px;
    /*color: #000000;
    padding-left: 16px;*/
}


.section1 {
    align-content: center;
    align-items: center;
    /*padding: 24px;
    width: 100%;
    margin: auto;*/
    background-color: #dfdddd;
}

.bodysectionImage {
    flex-basis: 60%;
    /*width: 60%;*/
    margin: 32px 24px;
    /*margin: auto;*/
}

/*.section1 img {
    flex-basis: 60%;
    /*display: flex;
    width: 60%;  ***
    margin: auto;
    align-content: center;
}*/

button {
    background-color: #9f9b9b;
    color: #ffffff;
    width: 60%;
    margin-top: 8px;
}

/*.section1Text {
    display: flex;
    flex-direction: column;
    /*align-content: center;
    /*margin-left: 24px;
    /*padding: 20px;
    justify-content: space-around;
}*/

.section1Text h4, h1 {
    padding-top: 16px;
}

.colorDiv {
    background-color: #cccbcb;
}

.d-flex-r {
    display: flex;
    flex-direction: row;
}

.d-flex-c {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 720px) {
        .navbarLinks, .navbarLogo {
            display: none;
            /*flex-direction: column;*/
        }
        
        .navbarIcons {
            display: flex;
            flex-direction: row;

            align-items: center;
            width: 100%;
            justify-content: space-around;
        }

        .section1 {
            flex-direction: column;
            padding: 0;
            padding-bottom: 32px;
            /*display: none;*/
        }

        .section1Text button {
            margin: auto;
            margin-top: 8px;
        }
}